body{
    background-color: bisque;
}
header {
    text-align: center;
}
.center {
    margin: 0 auto;
}
#add-top-form {
    padding-top: 20px;
    padding-bottom: 10px;
    background-color:#AAAAAA;
    transform: 2s;
}
#add-top-form input {
    margin-bottom: 10px;
}
svg {
    transform: 2s;
}
.vote-button {
    width: 90%;
    display: inline-block;
}
.delete-button {
    width: 10%;
}
.add-option-input {
    width: 80%;
    display: inline-block;
}
.add-option-button {
    width: 20%;
}